<div class="container-fluid d-flex flex-column w-100 h-100 p-3 bg-midnightblue">
    <div class="row justify-content-center mb-auto">
        <div class="col-10">
            <div class="row align-items-center">
                <img src="\assets\logo\logo-white.png" height="50">
                <h3 class="ml-2">Potch Sub Aqua</h3>

                <nav class="nav psa-nav justify-content-center ml-auto">
                    <a class="nav-link clickable" (click)="navigateHome()">Home</a>
                    <a class="nav-link ml-2 clickable" [class.active]="">Contact</a>
                    <a class="nav-link ml-2 clickable" (click)="loginClicked()">Login</a>
                </nav>
            </div>
        </div>
    </div>

    <div role="main" class="row justify-content-center">
        <div class="col-10">
            <h1>Contact us / Kontak ons...</h1>
            <p class="lead">
                We welcome any new players... Please call<a>082 771 5777 (Pamela Mackor)</a> or <a>078 203 1836
                    ('Disney' Jedidja van der Walt)</a> to get in touch with us!
            </p>

            <p class="lead">
                Ons verwelkom enige nuwe spelers... Skakel asseblief<a>082 771 5777 (Pamela Mackor)</a> of <a>078 203
                    1836
                    ('Disney' Jedidja van der Walt)</a> om in
                aanraking te kom met ons!
            </p>

            <p class="lead">
                <a href="https://facebook.com/potchsubaqua" target="_blank"
                    class="btn btn-lg psa-btn-white text-midnightblue">Learn more
                    / Leer meer</a>
            </p>
        </div>
    </div>

    <div class="row justify-content-center text-lightsteelblue mt-auto">
        <div class="col-10">
            <p>Website by <a href="https://twitter.com/mdo">Jedidja van der Walt</a>.</p>
        </div>
    </div>
</div>