<div class="d-flex flex-column w-100 h-100 p-3 primary-bg box-shadow">
    <div class="row justify-content-center mb-auto">
        <div class="col-6 text-center">
            <div class="row align-items-center">
                <img src="\assets\logo\logo-white.png" height="50">
                <h3 class="ml-2">Potch Sub Aqua</h3>

                <nav class="nav topbar justify-content-center ml-auto">
                    <span class="nav-link clickable" [class.active]="activeNavItem === 'Home'" (click)="navigateHome()">Home</span>
                    <span class="nav-link ml-2 clickable" [class.active]="activeNavItem === 'Contact'">Contact</span>
                    <span class="nav-link ml-2 clickable" (click)="loginClicked()">Login</span>
                </nav>
            </div>
        </div>
    </div>

    <div role="main" class="row justify-content-center">
        <div class="col-6 text-center">
            <h1>Contact us / Kontak ons...</h1>
            <p class="lead">
                We welcome any new players... Please call<a>082 771 5777 (Pamela Mackor)</a> or <a>078 203 1836
                    ('Disney' Jedidja van der Walt)</a> to get in touch with us!
            </p>

            <p class="lead">
                Ons verwelkom enige nuwe spelers... Skakel asseblief<a>082 771 5777 (Pamela Mackor)</a> of <a>078 203
                    1836
                    ('Disney' Jedidja van der Walt)</a> om in
                aanraking te kom met ons!
            </p>

            <p class="lead">
                <a href="https://facebook.com/potchsubaqua" target="_blank" class="btn btn-lg btn-primary">Learn more / Leer meer</a>
            </p>
        </div>
    </div>

    <div class="row justify-content-center mt-auto">
        <div class="col-6 text-center">
            <p>Website by <a href="https://twitter.com/mdo">Jedidja van der Walt</a>.</p>
        </div>
    </div>
</div>