<div class="d-flex flex-column p-3 fullscreen bg-royalblue">
    <div class="row justify-content-center mb-auto">
        <div class="col-12 col-lg-6 col-md-8 col-sm-10 text-center">
            <div class="d-flex flex-row align-items-center">
                <img src="\assets\logo\logo-white.png" height="50">
                <h3 class="ml-2 d-none d-sm-block">Potch Sub Aqua</h3>

                <nav class="nav psa-nav justify-content-center ml-auto">
                    <span class="nav-link clickable" [class.active]="activeNavItem === 'Home'"
                        (click)="navigateHome()">Home</span>
                    <span class="nav-link ml-2 clickable" [class.active]="activeNavItem === 'Contact'">Contact</span>
                    <span class="nav-link ml-2 clickable" (click)="loginClicked()">Login</span>
                </nav>
            </div>
        </div>
    </div>

    <div role="main" class="row justify-content-center pt-5 pb-5">
        <div class="col-12 col-lg-6 col-md-8 col-sm-10 text-center">
            <h1>Contact us / Kontak ons...</h1>
            <p class="lead">
                We welcome any new players... Please call<a>082 771 5777 (Pamela Mackor)</a> or <a>078 203 1836
                    ('Disney' Jedidja van der Walt)</a> to get in touch with us!
            </p>

            <p class="lead">
                Ons verwelkom enige nuwe spelers... Skakel asseblief<a>082 771 5777 (Pamela Mackor)</a> of <a>078 203
                    1836
                    ('Disney' Jedidja van der Walt)</a> om in
                aanraking te kom met ons!
            </p>

            <p class="lead">
                <a href="https://facebook.com/potchsubaqua" target="_blank"
                    class="btn btn-lg primary-btn text-midnightblue">Learn more
                    / Leer meer</a>
            </p>
        </div>
    </div>

    <div class="row justify-content-center text-lightsteelblue mt-auto">
        <div class="col-12 col-lg-6 col-md-8 col-sm-10 text-center">
            <!-- <p>Website by <a href="#">Jedidja van der Walt</a>.</p> -->
        </div>
    </div>
</div>