<mat-card>
  <mat-card-content>
    <form [formGroup]="inventoryItemForm">
      <div class="row">
        <div class="col-4">
          <mat-form-field>
            <mat-select formControlName="type" placeholder="type" required>
              <mat-option value="Mask">Mask</mat-option>
              <mat-option value="Snorkel">Snorkel</mat-option>
              <mat-option value="Glove">Glove</mat-option>
              <mat-option value="Stick">Stick</mat-option>
              <mat-option value="Fins">Fins</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field>
            <input formControlName="number" type="number" matInput placeholder="number" required>
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field>
            <input formControlName="brand" type="text" matInput placeholder="brand" required>
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field>
            <input formControlName="color" type="text" matInput placeholder="color" required>
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field>
            <input formControlName="description" type="text" matInput placeholder="description" required>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button type="submit" (click)="onAddClick()" [disabled]="!inventoryItemForm.valid" mat-raised-button
      color="primary">Add</button>
  </mat-card-actions>
</mat-card>