<div class="container-fluid">
  <div class="row pb-2 pt-2">

    <!-- navigation -->
    <div class="col-4">

      <!-- players -->
      <button class="btn btn-primary btn-block" (click)="activatePrimaryBtn('Players')">
        Players
      </button>

      <ng-container *ngIf="primaryBtn === 'Players'">
        <button class="btn btn-secondary btn-block" (click)="activateSecondaryBtn('U19')">
          U19
        </button>

        <ng-container *ngIf="secondaryBtn === 'U19'">
          <button class="btn btn-light btn-block" (click)="activateTertiaryBtn('Ladies')">
            Ladies
          </button>

          <button class="btn btn-light btn-block" (click)="activateTertiaryBtn('Men')">
            Men
          </button>
        </ng-container>

        <button class="btn btn-secondary btn-block" (click)="activateSecondaryBtn('U15')">
          U15
        </button>

        <ng-container *ngIf="secondaryBtn === 'U15'">
          <button class="btn btn-light btn-block" (click)="activateTertiaryBtn('Ladies')">
            Ladies
          </button>

          <button class="btn btn-light btn-block" (click)="activateTertiaryBtn('Men')">
            Men
          </button>
        </ng-container>

        <button class="btn btn-secondary btn-block" (click)="activateSecondaryBtn('U13')">
          U13
        </button>

        <ng-container *ngIf="secondaryBtn === 'U13'">
          <button class="btn btn-light btn-block" (click)="activateTertiaryBtn('Ladies')">
            Ladies
          </button>

          <button class="btn btn-light btn-block" (click)="activateTertiaryBtn('Men')">
            Men
          </button>
        </ng-container>

        <button class="btn btn-secondary btn-block" (click)="activateSecondaryBtn('U10')">
          U10
        </button>

        <button class="btn btn-secondary btn-block" (click)="activateSecondaryBtn('Beginners')">
          Beginners
        </button>
      </ng-container>

      <!-- inventory -->
      <button class="btn btn-primary btn-block" (click)="activatePrimaryBtn('Inventory')">
        Inventory
      </button>

      <ng-container *ngIf="primaryBtn === 'Inventory'">
        <button class="btn btn-secondary btn-block" (click)="activateSecondaryBtn('Status')">
          Status
        </button>

        <ng-container *ngIf="secondaryBtn === 'Status'">
          <button class="btn btn-light btn-block" (click)="activateTertiaryBtn('Available'); displayInventoryStatus()">
            Available
          </button>

          <button class="btn btn-light btn-block" (click)="activateTertiaryBtn('Rented'); displayInventoryStatus()">
            Rented
          </button>
        </ng-container>

        <button class="btn btn-secondary btn-block" (click)="activateSecondaryBtn('Type')">
          Type
        </button>

        <ng-container *ngIf="secondaryBtn === 'Type'">
          <button class="btn btn-light btn-block" (click)="activateTertiaryBtn('Mask'); displayInventoryType()">
            Mask
          </button>

          <button class="btn btn-light btn-block" (click)="activateTertiaryBtn('Snorkel'); displayInventoryType()">
            Snorkel
          </button>

          <button class="btn btn-light btn-block" (click)="activateTertiaryBtn('Glove'); displayInventoryType()">
            Glove
          </button>

          <button class="btn btn-light btn-block" (click)="activateTertiaryBtn('Stick'); displayInventoryType()">
            Stick
          </button>

          <button class="btn btn-light btn-block" (click)="activateTertiaryBtn('Fins'); displayInventoryType()">
            Fins
          </button>
        </ng-container>

        <button class="btn btn-secondary btn-block" (click)="activateSecondaryBtn('Add'); addInventory()">
          Add
        </button>
      </ng-container>

      <!-- rentals -->
      <button class="btn btn-primary btn-block" (click)="activatePrimaryBtn('Rentals')">
        Rentals
      </button>

      <ng-container *ngIf="primaryBtn === 'Rentals'">
        <button class="btn btn-secondary btn-block" (click)="activateSecondaryBtn('Status')">
          Status
        </button>

        <ng-container *ngIf="secondaryBtn === 'Status'">
          <button class="btn btn-light btn-block" (click)="activateTertiaryBtn('Payment')">
            Payment
          </button>

          <button class="btn btn-light btn-block" (click)="activateTertiaryBtn('Refund')">
            Refund
          </button>

          <button class="btn btn-light btn-block" (click)="activateTertiaryBtn('Return')">
            Return
          </button>
        </ng-container>

        <button class="btn btn-secondary btn-block" (click)="activateSecondaryBtn('Type')">
          Type
        </button>

        <ng-container *ngIf="secondaryBtn === 'Type'">
          <button class="btn btn-light btn-block" (click)="activateTertiaryBtn('Day')">
            Day
          </button>

          <button class="btn btn-light btn-block" (click)="activateTertiaryBtn('Beginner')">
            Beginner
          </button>

          <button class="btn btn-light btn-block" (click)="activateTertiaryBtn('Season')">
            Season
          </button>
        </ng-container>

        <button class="btn btn-secondary btn-block" (click)="activateSecondaryBtn('Add')">
          Add
        </button>
      </ng-container>
    </div>

    <!-- detail -->
    <div class="col-8">
      <div class="row">
        <div class="col-4 pb-2" *ngFor="let inventoryItem of inventoryItems">
          <button class="btn btn-dark btn-block">
            {{inventoryItem.brand}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>