<div class="container-fluid">
  <div class="row pb-3">
    <div class="col-12 col-lg-3 pt-3">
      <div class="card lightsteelblue-background border-none">
        <div class="card-body text-white">
          <ng-container *ngFor="let button of buttons">
            <button class="btn btn-block midnightblue-background text-white" (click)="primaryClicked(button.id)">
              {{ button.id }}
            </button>

            <ng-container *ngFor="let secondary of button.secondary">
              <button class="btn btn-block royalblue-background text-white" *ngIf="primaryBtn === button.id"
                (click)="secondaryClicked(secondary.id)">
                {{ secondary.id }}
              </button>

              <ng-container *ngFor="let tertiary of secondary.tertiary">
                <button class="btn btn-block cornflowerblue-background text-white" *ngIf="secondaryBtn === secondary.id"
                  (click)="tertiaryClicked(tertiary.id)">
                  {{ tertiary.id }}
                </button>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-9 pt-3">
      <div class="card lightsteelblue-background border-none"
        *ngIf="secondaryBtn === 'Add' || shouldDisplayPlayersList() || shouldDisplayInventoryItemsList() || shouldDisplayRentalsList() || selectedPlayer || selectedInventoryItem || selectedRental">
        <div class="card-body text-white pb-0">
          <div class="row" *ngIf="secondaryBtn === 'Add'">
            <div class="col-12 mb-3" *ngIf="primaryBtn === 'Players'">
              <app-players-add></app-players-add>
            </div>

            <div class="col-12 mb-3" *ngIf="primaryBtn === 'Inventory Items'">
              <app-inventory-add></app-inventory-add>
            </div>

            <div class="col-12 mb-3" *ngIf="primaryBtn === 'Rentals'">
              <app-rentals-add [players]="players" [availableMasks]="availableMasks"
                [availableSnorkels]="availableSnorkels" [availableGloves]="availableGloves"
                [availableSticks]="availableSticks" [availableFins]="availableFins"></app-rentals-add>
            </div>
          </div>

          <div class="row" *ngIf="shouldDisplayPlayersList()">
            <div class="col-12 col-lg-4 mb-3" *ngFor="let player of players">
              <button class="btn btn-block cornflowerblue-background text-white" (click)="displayPlayersDetail(player)">
                {{ player.playerFullName }}
              </button>
            </div>

            <div class="col-12 mb-3" *ngIf="!players || !players.length || players.length === 0">
              <span>No results</span>
            </div>
          </div>

          <div class="row" *ngIf="shouldDisplayInventoryItemsList()">
            <div class="col-12 col-lg-4 mb-3" *ngFor="let inventoryItem of inventoryItems">
              <button class="btn btn-block cornflowerblue-background text-white"
                (click)="displayInventoryDetail(inventoryItem)">
                {{ inventoryItem.displayId }}
              </button>
            </div>

            <div class="col-12 mb-3" *ngIf="!inventoryItems || !inventoryItems.length || inventoryItems.length === 0">
              <span>No results</span>
            </div>
          </div>

          <div class="row" *ngIf="shouldDisplayRentalsList()">
            <div class="col-12 col-lg-6 mb-3" *ngFor="let rental of rentals">
              <button class="btn btn-block cornflowerblue-background text-white" (click)="displayRentalsDetail(rental)">
                {{ rental.displayId }}
              </button>
            </div>

            <div class="col-12 mb-3" *ngIf="!rentals || !rentals.length || rentals.length === 0">
              <span>No results</span>
            </div>
          </div>

          <div class="row">
            <div class="col-12 mb-3" *ngIf="selectedPlayer">
              <app-players-detail [selectedPlayer]="selectedPlayer"></app-players-detail>
            </div>

            <div class="col-12 mb-3" *ngIf="selectedInventoryItem">
              <app-inventory-detail [selectedInventoryItem]="selectedInventoryItem">
              </app-inventory-detail>
            </div>

            <div class="col-12 mb-3" *ngIf="selectedRental">
              <app-rentals-detail [selectedRental]="selectedRental"></app-rentals-detail>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>