<button class="btn btn-secondary btn-block" disabled>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-12 text-right">
          Type:
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-right">
          Number:
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-right">
          Brand:
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-right">
          Color:
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-right">
          Description:
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-right">
          Type:
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="col-12 text-left">
          {{selectedInventoryItem.type}}
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-left">
          {{selectedInventoryItem.number}}
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-left">
          {{selectedInventoryItem.brand}}
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-left">
          {{selectedInventoryItem.color}}
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-left">
          {{selectedInventoryItem.description}}
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-left">
          {{selectedInventoryItem.status}}
        </div>
      </div>
    </div>
  </div>
</button>