<div class="card powderblue-background border-none">
  <div class="card-body">
    <div class="row">
      <div class="col-6 text-right">
        Type:
      </div>

      <div class="col-6 text-left">
        {{selectedInventoryItem.type}}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-right">
        Number:
      </div>

      <div class="col-6 text-left">
        {{selectedInventoryItem.number}}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-right">
        Brand:
      </div>

      <div class="col-6 text-left">
        {{selectedInventoryItem.brand}}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-right">
        Color:
      </div>

      <div class="col-6 text-left">
        {{selectedInventoryItem.color}}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-right">
        Description:
      </div>

      <div class="col-6 text-left">
        {{selectedInventoryItem.description}}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-right">
        Status:
      </div>

      <div class="col-6 text-left">
        {{selectedInventoryItem.status}}
      </div>
    </div>
  </div>
</div>