<div class="d-flex flex-column p-3 fullscreen bg-midnightblue">
  <div class="row justify-content-center mb-auto">
    <div class="col-12 col-lg-6 col-md-8 col-sm-10 text-center">
      <div class="d-flex flex-row align-items-center">
        <img src="\assets\logo\logo-white.png" height="50">
        <h3 class="ml-2 d-none d-sm-block">Potch Sub Aqua</h3>

        <nav class="nav psa-nav justify-content-center ml-auto">
          <span class="nav-link clickable" [class.active]="activeNavItem === 'Home'">Home</span>
          <span class="nav-link ml-2 clickable" [class.active]="activeNavItem === 'Contact'" (click)="navigateContact()">Contact</span>
          <span class="nav-link ml-2 clickable" (click)="loginClicked()">Login</span>
        </nav>
      </div>
    </div>
  </div>

  <div role="main" class="row justify-content-center pt-5 pb-5">
    <div class="col-12 col-lg-6 col-md-8 col-sm-10 text-center">
      <h1>Welcome / Welkom...</h1>
      <p class="lead">
        Welcome to Potch Sub Aqua Underwater Hockey Club... The home of the
        North West Potchefstroom
        Provincial Underwater Hockey Teams... Where we play a breathtaking sport
        that leaves you
        breathless!
      </p>

      <p class="lead">
        Welkom by Potch Sub Aqua Onderwater Hokkie Klub... Die tuiste van die
        Noordwes Potchefstroom
        Provinsiale Onderwater Hokkie Spanne ... Waar ons 'n asemrowende sport
        speel wat jou asemloos
        laat!
      </p>

      <p class="lead">
        <a href="https://facebook.com/potchsubaqua" target="_blank" class="btn btn-lg dark-btn text-royalblue">Learn
          more / Leer meer</a>
      </p>
    </div>
  </div>

  <div class="row justify-content-center text-lightsteelblue mt-auto">
    <div class="col-12 col-lg-6 col-md-8 col-sm-10 text-center">
      <!-- <p>Website by <a href="#">Jedidja van der Walt</a>.</p> -->
    </div>
  </div>
</div>