<div class="container-fluid">
  <div class="row pb-3 pt-3">
    <div class="col-12 col-lg-12">
      <div class="card lightsteelblue-background border-none">
        <div class="card-body text-white">
          <div class="row text-center">
            <div class="col-4 col-lg-2 my-auto">

            </div>

            <div class="col-4 col-lg-8 my-auto">
              <h1>Potch Sub Aqua</h1>
            </div>

            <div class="col-4 col-lg-2 my-auto">
              <button class="btn btn-block midnightblue-background text-white">
                Login
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center pb-3">
    <div class="col-12 col-lg-10">
      <div class="card cornflowerblue-background border-none">
        <div class="card-body text-white">

        </div>
      </div>
    </div>
  </div>
</div>