<div class="card bg-cornflowerblue border-none">
  <div class="card-body text-white">

    <!-- rentalForm -->
    <form [formGroup]="rentalForm">
      <div class="form-group align-items-center m-0">
        <div class="row">
          <div class="col-6">
            <label class="col-form-label">Player:</label>
          </div>

          <div class="col-6 text-right align-self-center">
            <span *ngIf="player.pristine">*required</span>
          </div>
        </div>

        <select formControlName="player" class="form-control" required>
          <option *ngFor="let player of players" [value]="player.playerFullName">{{player.playerFullName}}
          </option>
        </select>
      </div>

      <div class="form-group align-items-center m-0">
        <div class="row">
          <div class="col-6">
            <label class="col-form-label">Type:</label>
          </div>

          <div class="col-6 text-right align-self-center">
            <span *ngIf="type.pristine">*required</span>
          </div>
        </div>

        <select formControlName="type" class="form-control" required>
          <option value="Day">Day</option>
          <option value="Beginner">Beginner</option>
          <option value="Season">Season</option>
        </select>
      </div>

      <div class="form-group align-items-center m-0">
        <label class="col-form-label">Fee Paid:</label>

        <input formControlName="feePaid" type="number" class="form-control" placeholder="Fee Paid">
      </div>
    </form>

    <div class="card bg-royalblue border-none mt-3">
      <div class="card-body">

        <!-- inventoryItemsForm -->
        <div class="row">
          <div class="col-6">
            <span class="font-weight-bold">Inventory Items:</span>
          </div>

          <div class="col-6 text-right align-self-center">
            <span
              *ngIf="!selectedMask.value && !selectedSnorkel.value && !selectedGlove.value && !selectedStick.value && !selectedFins.value">
              *at least one inventory item required
            </span>
          </div>
        </div>

        <form [formGroup]="inventoryItemsForm">
          <div class="form-group align-items-center m-0">
            <label class="col-form-label">Mask:</label>

            <select formControlName="selectedMask" class="form-control">
              <option value="">None</option>

              <option *ngFor="let availableMask of availableMasks" [value]="availableMask.displayId">
                {{availableMask.displayId}}</option>
            </select>
          </div>

          <div class="form-group align-items-center m-0">
            <label class="col-form-label">Snorkel:</label>

            <select formControlName="selectedSnorkel" class="form-control">
              <option value="">None</option>

              <option *ngFor="let availableSnorkel of availableSnorkels" [value]="availableSnorkel.displayId">
                {{availableSnorkel.displayId}}</option>
            </select>
          </div>

          <div class="form-group align-items-center m-0">
            <label class="col-form-label">Glove:</label>

            <select formControlName="selectedGlove" class="form-control">
              <option value="">None</option>

              <option *ngFor="let availableGlove of availableGloves" [value]="availableGlove.displayId">
                {{availableGlove.displayId}}</option>
            </select>
          </div>

          <div class="form-group align-items-center m-0">
            <label class="col-form-label">Stick:</label>

            <select formControlName="selectedStick" class="form-control">
              <option value="">None</option>

              <option *ngFor="let availableStick of availableSticks" [value]="availableStick.displayId">
                {{availableStick.displayId}}</option>
            </select>
          </div>

          <div class="form-group align-items-center m-0">
            <label class="col-form-label">Fins:</label>

            <select formControlName="selectedFins" class="form-control">
              <option value="">None</option>

              <option *ngFor="let fins of availableFins" [value]="fins.displayId">
                {{fins.displayId}}</option>
            </select>
          </div>
        </form>
      </div>
    </div>

    <button class="btn btn-block bg-midnightblue text-white mt-3"
      [disabled]="rentalForm.invalid || (!selectedMask.value && !selectedSnorkel.value && !selectedGlove.value && !selectedStick.value && !selectedFins.value)"
      (click)="onAddClick()">
      Add
    </button>
  </div>
</div>