<div class="card powderblue-background border-none">
  <div class="card-body">

    <!-- birthDateForm -->
    <form [formGroup]="birthDateForm">
      <div class="form-group row">
        <label class="col-6 col-form-label text-right">Birth Date:</label>
        <div class="col-6 text-left">
          <input formControlName="birthDate" type="date" [max]="calculateMaxDate()" class="form-control" required>
        </div>
      </div>
    </form>

    <!-- parentForm -->
    <form *ngIf="parentRequired()" [formGroup]="parentForm">
      <div class="form-group row">
        <label class="col-6 col-form-label text-right">Parent Full Name:</label>
        <div class="col-6 text-left">
          <input formControlName="parentFullName" type="text" class="form-control" placeholder="Parent Full Name"
            required>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-6 col-form-label text-right">Parent Cell:</label>
        <div class="col-6 text-left">
          <input formControlName="parentCell" type="tel" class="form-control" placeholder="Parent Cell" required>
        </div>
      </div>
    </form>

    <!-- juniorPlayerForm -->
    <form *ngIf="parentRequired()" [formGroup]="juniorPlayerForm">
      <div class="form-group row">
        <label class="col-6 col-form-label text-right">Player Full Name:</label>
        <div class="col-6 text-left">
          <input formControlName="playerFullName" type="text" class="form-control" placeholder="Player Full Name"
            required>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-6 col-form-label text-right">Player Cell:</label>
        <div class="col-6 text-left">
          <input formControlName="playerCell" type="tel" class="form-control" placeholder="Player Cell" required>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-6 col-form-label text-right">Gender:</label>
        <div class="col-6 text-left">
          <select formControlName="gender" class="form-control" required>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
          </select>
        </div>
      </div>
    </form>

    <form *ngIf="birthDate.value && !parentRequired()" [formGroup]="seniorPlayerForm">
      <div class="form-group row">
        <label class="col-6 col-form-label text-right">Player Full Name:</label>
        <div class="col-6 text-left">
          <input formControlName="playerFullName" type="text" class="form-control" placeholder="Player Full Name"
            required>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-6 col-form-label text-right">Player Cell:</label>
        <div class="col-6 text-left">
          <input formControlName="playerCell" type="tel" class="form-control" placeholder="Player Cell" required>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-6 col-form-label text-right">Gender:</label>
        <div class="col-6 text-left">
          <select formControlName="gender" class="form-control" required>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
          </select>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-12 text-center">
        <ng-container *ngIf="parentRequired()">
          <button class="btn btn-block midnightblue-background text-white" [disabled]="!birthDateForm.valid || !parentForm.valid || !juniorPlayerForm.valid" (click)="onAddClick()">Add</button>
        </ng-container>

        <ng-container *ngIf="!parentRequired()">
          <button class="btn btn-block midnightblue-background text-white" [disabled]="!birthDateForm.valid && !seniorPlayerForm.valid" (click)="onAddClick()">Add</button>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<!-- <mat-card>
  <mat-card-content>
    <form [formGroup]="playerForm">
      <div class="row">
        <div class="col-4">
          <mat-form-field>
            <input formControlName="playerFullName" type="text" matInput placeholder="player full name" required>
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field>
            <input formControlName="playerCell" type="tel" matInput placeholder="player cell" required>
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field>
            <mat-select formControlName="gender" placeholder="gender" required>
              <mat-option value="Female">Female</mat-option>
              <mat-option value="Male">Male</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field>
            <input formControlName="birthDate" matInput [matDatepicker]="picker" placeholder="birth date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field>
            <input formControlName="parentFullName" type="text" matInput placeholder="parent full name" required>
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field>
            <input formControlName="parentCell" type="tel" matInput placeholder="parent cell" required>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button type="submit" (click)="onAddClick()" [disabled]="!playerForm.valid" mat-raised-button
      color="primary">Add</button>
  </mat-card-actions>
</mat-card> -->