<div class="card royalblue-background border-none">
  <div class="card-body text-white">
    <div class="row">
      <div class="col-6 text-right">
        Player:
      </div>

      <div class="col-6 text-left">
        {{selectedRental.player}}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-right">
        Inventory Items:
      </div>

      <ng-container *ngIf="selectedRental.inventoryItems.length === 1">
        <div class="col-6 text-left">
          {{selectedRental.inventoryItems[0]}}
        </div>
      </ng-container>

      <ng-container *ngIf="selectedRental.inventoryItems.length > 1">
        <div class="col-6 text-left">
          <span *ngFor="let inventoryItem of selectedRental.inventoryItems">
            {{inventoryItem}},
          </span>
        </div>
      </ng-container>
    </div>

    <div class="row">
      <div class="col-6 text-right">
        Type:
      </div>

      <div class="col-6 text-left">
        {{selectedRental.type}}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-right">
        Start Date:
      </div>

      <div class="col-6 text-left">
        {{selectedRental.startDate.toDate() | date:'d MMM y'}}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-right">
        Due Date:
      </div>

      <div class="col-6 text-left">
        {{selectedRental.dueDate.toDate() | date:'d MMM y'}}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-right">
        End Date:
      </div>

      <div class="col-6 text-left" *ngIf="selectedRental.endDate">
        {{selectedRental.endDate.toDate() | date:'d MMM y'}}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-right">
        Fee Due:
      </div>

      <div class="col-6 text-left">
        {{selectedRental.feeDue}}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-right">
        Fee Paid:
      </div>

      <div class="col-6 text-left" *ngIf="selectedRental.feePaid">
        {{selectedRental.feePaid}}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-right">
        Fee Returned:
      </div>

      <div class="col-6 text-left" *ngIf="selectedRental.feeReturned">
        {{selectedRental.feeReturned}}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-right">
        Action Required:
      </div>

      <div class="col-6 text-left">
        {{selectedRental.actionRequired}}
      </div>
    </div>

    <button class="btn btn-block midnightblue-background text-white mt-3" (click)="onEditClick()" *ngIf="!isEditing && shouldDisplayEditBtn()">
      Edit
    </button>
  </div>
</div>