<div class="container-fluid">
  <div class="row text-center justify-content-center" *ngIf="addPlayers">
    <div class="col-6">
      <h1>
        Add Players
      </h1>
    </div>
  </div>

  <div class="row text-center justify-content-center" *ngIf="addInventory">
    <div class="col-6">
      <h1>
        Add Inventory
      </h1>
      <form class="needs-validation">
        <div class="form-row pb-2">
          <select class="form-control" required>
            <option disabled>type</option>
            <option>Mask</option>
            <option>Snorkel</option>
            <option>Glove</option>
            <option>Stick</option>
            <option>Fins</option>
          </select>
        </div>

        <div class="form-row pb-2">
          <input type="number" class="form-control" placeholder="number" required>
        </div>

        <div class="form-row pb-2">
          <input type="text" class="form-control" placeholder="brand" required>
        </div>

        <div class="form-row pb-2">
          <input type="text" class="form-control" placeholder="color" required>
        </div>

        <div class="form-row pb-2">
          <input type="text" class="form-control" placeholder="description" required>
        </div>

        <div class="form-row pb-2">
          <select class="form-control" required>
            <option disabled>status</option>
            <option>Available</option>
            <option>Rented</option>
            <option>Missing</option>
          </select>
        </div>
      </form>

      <button class="btn btn-primary btn-block" (click)="addInventory()">
        Add
      </button>
    </div>
  </div>

  <div class="row text-center justify-content-center" *ngIf="addRentals">
    <div class="col-6">
      <h1>
        Add Rentals
      </h1>
    </div>
  </div>
</div>