/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.midnightblue-background {
    background-color: midnightblue;
}

.royalblue-background {
    background-color: royalblue;
}

.cornflowerblue-background {
    background-color: cornflowerblue;
}


.lightsteelblue-background {
    background-color: lightsteelblue;
}

.powderblue-background {
    background-color: powderblue;
}

.border-none {
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

