/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.midnightblue-background {
    background-color: midnightblue;
}

.royalblue-background {
    background-color: royalblue;
}

.cornflowerblue-background {
    background-color: cornflowerblue;
}


.lightsteelblue-background {
    background-color: lightsteelblue;
}

.powderblue-background {
    background-color: powderblue;
}

.border-none {
    border: none;
}

