<div class="card royalblue-background border-none">
  <div class="card-body text-white">
    <div class="row">
      <div class="col-6 text-right">
        Player Full Name:
      </div>

      <div class="col-6 text-left">
        {{selectedPlayer.playerFullName}}
      </div>
    </div>

    <div class="row" *ngIf="selectedPlayer.playerCell">
      <div class="col-6 text-right">
        Player Cell:
      </div>

      <div class="col-6 text-left">
        {{selectedPlayer.playerCell}}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-right">
        Gender:
      </div>

      <div class="col-6 text-left">
        {{selectedPlayer.gender}}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-right">
        Birth Date:
      </div>

      <div class="col-6 text-left">
        {{selectedPlayer.birthDate.toDate() | date:'d MMM y'}}
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-right">
        Age Group:
      </div>

      <div class="col-6 text-left">
        {{selectedPlayer.ageGroup}}
      </div>
    </div>

    <div class="row" *ngIf="selectedPlayer.parentFullName">
      <div class="col-6 text-right">
        Parent Full Name:
      </div>

      <div class="col-6 text-left">
        {{selectedPlayer.parentFullName}}
      </div>
    </div>

    <div class="row" *ngIf="selectedPlayer.parentCell">
      <div class="col-6 text-right">
        Parent Cell:
      </div>

      <div class="col-6 text-left">
        {{selectedPlayer.parentCell}}
      </div>
    </div>
  </div>
</div>